* body{
    background-color: rgb(230, 229, 232);
}
p{
    color: white;
}
.subscribe{
    background-color: red;
    color:white;
    border: none;
    height: 36px;
    width: 120px;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.3s;
}
.subscribe:hover{
  opacity: 0.55;
}
.join{
    background-color: whitesmoke;
    color: rgb(109, 109, 190);
    border-color: rgb(138, 138, 231);
    height: 33px;
    width: 66px;
    border-radius: 2px;
    cursor: pointer;
    border-style: solid;
    margin-left: 22px;
}
.join:hover{
    background-color:rgb(109, 109, 190) ;
    color:whitesmoke;
    
}
.join:active{
    opacity: 0.55;
}
.tweet{
    background-color: rgb(29, 155, 240);
    color: white;
    border:none;
    height: 36px;
    width: 90px;
    border-radius: 18px;
    font-weight:bold;
    font-size: 16px;
    cursor: pointer;
    margin-left: 3px;
   
}
.tweet:hover{
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}